h1{
    text-align:center;
    color:cornflowerblue;
}

img{
    display: block;
    width: 80vw;
    height:80vh;
    margin-left:auto;
    margin-right:auto;
}

p{
    text-align: center;
}

button{
    display: block;
    margin-left:auto;
    margin-right:auto;
}